/* styles go here */
.field-quiz {
  min-height: 10px;
  margin: 20px 2px;
}

.input-block {
  display: block;
  margin: 10px 0;
}

.field-quiz :first-child + :not(legend) {
  margin-top: 0;
}

.field-quiz label:last-child {
  margin-bottom: 0;
}

.select-quiz {
  overflow: hidden;
}

.field-quiz:first-child {
  margin-top: 0;
}
